.root {
	position: relative;
  	min-height: calc(100vh - 142px);
  	background-image: url("../../images/hero-bg.png");
  	background-position: 100% 0%;
  	background-repeat: no-repeat;
  	background-size: 61%;
}