.root {
    position: relative;
}
.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item {
    width: 25%;
    min-width: 25%;
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
}